.App {
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #3d4e70;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(12px + 4vmin);
  color: rgb(64, 64, 206);
  display: flex;
  flex-direction: column;
}
